<div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-4">
        <h5>ESTUDIOS</h5> <a name="ancla2"></a>
        <ul>
          <li><img src="C:\Users\maria\Desktop\Programacion\Porfolio\iconos\ap2.png" height="48" width="48"> Segunda etapa Full Stack Developer Jr
            2021-2022 Argentina Programa - #YoProgramo</li>
          <li><img src="C:\Users\maria\Desktop\Programacion\Porfolio\iconos\ap2.png" height="48" width="48"> Primera etapa del plan Argentina Programa
            2021 Argentina Programa - #SeProgramar</li>
            <li><img src="C:\Users\maria\Desktop\Programacion\Porfolio\iconos\unc.png" height="48" width="48"> INTRODUCCION A LA INFORMATICA - UNC 2020
            </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5>CONTACTO</h5>
        <ul>
          <li><img src="C:\Users\maria\Desktop\Programacion\Porfolio\iconos\gmail.png" height="48" width="48"><a href="#ancla1"> EMAIL</a></li>
          <li><img src="C:\Users\maria\Desktop\Programacion\Porfolio\iconos\instagram.png" height="48" width="48"> <a href="https://www.instagram.com/marianoesser/">INSTAGRAM</a></li>
          <li><img src="C:\Users\maria\Desktop\Programacion\Porfolio\iconos\facebook.png"> <a href="https://www.facebook.com/mariano.esser/">FACEBOOK</a></li>
          <li><img src="C:\Users\maria\Desktop\Programacion\Porfolio\iconos\github.png"> <a href="https://github.com/MarianoEs">GITHUB</a></li>
        </ul>
      </div>
    </div>
  </div>
