<form class="form" action="https://formspree.io/f/meqnrqow" style="text-align:center"
method="POST"> <a name="ancla1"></a>
  <div class="form__container">
    <h2 class="form__title">CONTACTAME</h2>
    <input type="text" class="form__imput" placeholder="Nombre:" name="name">
    <br><input type="text" class="form__imput" placeholder="Email:" name="email">
    <br><textarea class="form__input  form__imput --message" placeholder="Mensaje" name="message"></textarea>

    <br><input type="submit" value="Enviar" class="form__cta">
  </div>

</form>    
